.client__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * #{$card-gallery-gap});
  margin-left: calc(-1 * #{$card-gallery-gap});
}

.client__item {
  flex-basis: calc(100% / 2 - #{$card-gallery-gap});
  margin-top: $card-gallery-gap;
  margin-left: $card-gallery-gap;

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - #{$card-gallery-gap});
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - #{$card-gallery-gap});
  }
}

.client__link {
  @extend %flex;
  height: 92px;

  color: $social-client-color;
  fill: currentColor;
  border: 1px solid $social-client-color;
  border-radius: 4px;

  transition: color $first-transition, border-color $first-transition;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
