.client__list {
  display: flex;
}

.client__item {
  width: calc((100% - 5 * #{$card-gallery-gap}) / 6);
  margin-right: $card-gallery-gap;

  &:last-child {
    margin-right: 0;
  }
}

.client__link {
  @extend %flex;
  height: 92px;

  color: $social-client-color;
  fill: currentColor;
  border: 1px solid $social-client-color;
  border-radius: 4px;

  transition: color $first-transition, border-color $first-transition;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}
