body {
  background-color: $primary-color;
  color: $primary-text-color;
  font-family: $primary-font-family;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.page__header {
  position: relative;
  border-bottom: 1px solid $border-header-color;
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  &__inner {
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
}

.footer .container__inner {
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.section {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;

    &:nth-child(2) {
      padding-bottom: 0;
    }
  }
}

.work__section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.team__section {
  background-color: $secondary-bg-color;
}

.section__title {
  margin-bottom: 30px;
  color: $secondary-text-color;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }

  &--hidden {
    @extend %visually__hidden;
  }
}

.page__footer {
  background-color: $footer-bg-color;
  padding: 60px 0;
}
