.footer__residence {
  // width: 231px;
  width: 232px;
  margin: 0 auto 60px;
  text-align: center;
}

.residence__item:not(:last-child) {
  // margin-bottom: 9px;
  margin-bottom: 8px;
}

.residence__link {
  @extend %link;
  display: block;
  color: $footer-contacts-color;
  font-style: normal;

  transition: color $first-transition;

  &--white {
    color: $primary-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
