.contact__list {
  margin-bottom: 64px;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }

  // margin-left: auto;
}

.contact__item:not(:last-child) {
  margin-top: 32px;
  // margin-right: $card-gallery-gap;
}

.contact__link {
  // @extend %flex;
  @extend %link;
  // padding: 32px 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  // line-height: 1.42;
  letter-spacing: 0.02em;

  transition: color $first-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__link--blue {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    color: $accent-color;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
