.menu-btn {
  z-index: 3;
  margin-left: auto;
  padding: 10px 0;
  color: $logo-color;
  fill: currentcolor;
  border: transparent;
  background-color: transparent;
  cursor: pointer;

  transition: color $first-transition;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--is-open .icon__close {
    display: block;
  }

  &--is-open .icon__menu {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon__close {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 48px 0 48px 40px;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;

    background-color: $primary-color;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    transition: transform $first-transition, visibility $first-transition,
      opacity $first-transition;

    &--is-open {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    height: 80px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.social-network__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.social-network__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.social-network__link {
  @extend %link;
  display: block;
  padding: 0 10px;

  color: $accent-color;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  transition: color $first-transition;

  &:hover,
  &:focus {
    color: $btn-accent-color;
  }
}
