$accent-color: #2196f3;
$btn-accent-color: #188ce8;
$logo-color: #000000;
$primary-color: #ffffff;
$primary-text-color: #757575;
$secondary-text-color: #212121;
$social-client-color: #afb1b8;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$hero-bg-color: #c4c4c4;
$secondary-bg-color: #f5f4fa;
$work-title-bg-color: rgba(47, 48, 58, 0.8);
$footer-bg-color: #2f303a;
$footer-social-bg-color: rgba(255, 255, 255, 0.1);
$gallery-thumb-bg-color: rgba(33, 150, 243, 0.9);
$backdrop-bg-color: rgba(0, 0, 0, 0.2);
$modal-placeholder-color: rgba(117, 117, 117, 0.5);
$border-header-color: #ececec;
$border-gallery-color: #eeeeee;
$border-subscription-color: rgba(255, 255, 255, 0.3);
$border-modal-btn-close-color: rgba(0, 0, 0, 0.1);
$border-modal-input-color: rgba(33, 33, 33, 0.2);
$card-gallery-gap: 30px;
$social-link-gap: 10px;
$filter-btn-gap: 8px;
$btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$filter-btn-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$gallery-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$first-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$primary-font-family: Roboto, sans-serif;
$logo-font-family: Raleway, sans-serif;
